<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nayomishah.nihalchess"
    android:versionCode="1"
    android:versionName="1.0" >
    
    <uses-sdk
    android:minSdkVersion="14"
    android:targetSdkVersion="22" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/chess_icon"
        android:label="Nihal Chess"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="Nihal Chess" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChessActivity"
            android:label="@string/title_activity_chess"
            android:parentActivityName=".HomeActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.nayomishah.nihalchess.HomeActivity" />
        </activity>
        <activity
            android:name=".GameListActivity"
            android:label="@string/title_activity_game_list"
            android:parentActivityName=".HomeActivity" >
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.nayomishah.nihalchess.GameListActivity" />
        </activity>
        <activity
            android:name=".ReplayActivity"
            android:label="@string/title_activity_replay" >
        </activity>
    </application>
    
</manifest>
